// ==========================================
// Hero Section (Auto Scale)
// ==========================================
@use '../abstracts' as *;

.hero {
  padding: rem(60) 0;
  max-height: rem(780);
  background: url('../img/hero-2x.webp') top center no-repeat;
  background-size: cover;

  @include media-up($bp-tablet) {
    padding: rem(160) 0 rem(120);
  }

  @include media-up($bp-desktop) {
    padding: rem(190) 0 rem(150);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(40);
    position: relative;

    @include media-up($bp-tablet) {
      gap: rem(56);
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    max-width: rem(860);
  }

  &__title {
    font-size: rem(28);
    font-weight: 400;
    line-height: 1.2;
    color: $color-white;

    @include media-up($bp-mobile) {
      font-size: rem(34);
    }

    @include media-up($bp-tablet) {
      font-size: rem(44);
    }

    @include media-up($bp-desktop) {
      font-size: rem(52);
    }

    span {
      font-family: $font-main;
      display: block;
      font-weight: 500;
      font-size: 0.45em;
      color: $color-white;
      margin-top: rem(10);
      line-height: 1.3;
    }
  }

  &__description {
    max-width: rem(620);

    &-text {
      font-size: rem(16);
      font-weight: 500;
      line-height: 1.65;
      color: $color-white;
    }
  }

  &__buttons {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: rem(24);
    margin-top: rem(8);

    &-info {
      max-width: rem(370);
      font-size: rem(15);
      line-height: 1.4;
      color: $color-white;
      opacity: .6;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: rem(24);
    background: $color-red;
    color: $color-white;
    font-size: rem(16);
    font-weight: 600;
    text-decoration: none;
    border-radius: $radius-lg;
    transition: background-color $transition-normal;
  }

  &__bottom {
    max-width: rem(360);
    padding: rem(16) rem(24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: rem(8);
    position: absolute;
    right: rem(160);
    bottom: rem(-40);
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(rem(8));
    border-radius: $radius-md;

    &::after {
      content: '';
      position: absolute;
      top: rem(-25);
      right: rem(-35);
      width: rem(86);
      height: rem(82);
      background: url('../img/hero-img-2x.webp') top center no-repeat;
      background-size: cover;
    }

    @include media-up($bp-tablet) {
      padding: rem(28) rem(36);
      gap: rem(12);
    }

    h2 {
      font-size: rem(17);
      font-weight: 400;
      line-height: 1.25;
      color: $color-white;

      @include media-up($bp-tablet) {
        font-size: rem(20);
      }
    }

    p {
      font-size: rem(10);
      line-height: 1.45;
      color: $color-white;

      @include media-up($bp-tablet) {
        font-size: rem(12);
      }
    }
  }
}